@page "/login"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Components.Forms
@using Kakeibo.AppHost.Web.Services
@using Kakeibo.AppHost.Web.Models

@inject TokenService TokenService
@inject NavigationManager Nav
@rendermode InteractiveServer

<PageTitle>Login</PageTitle>

<h1 class="mb-3">Login</h1>

@if (context is not null) 
{
    <EditForm EditContext="context" OnValidSubmit="SubmitLogin" FormName="logindata">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label>Email</label>
            <InputText @bind-Value="loginModel.Email" class="form-control" />
            <ValidationMessage For="@(() => loginModel.Email)" />
        </div>

        <div class="mb-3">
            <label>Senha</label>
            <InputText @bind-Value="loginModel.Password" type="password" class="form-control" />
            <ValidationMessage For="@(() => loginModel.Password)" />
        </div>

        <button class="btn btn-primary">Entrar</button>
    </EditForm>
}

@if (error is not null)
{
    <p style="color:red">@error</p>
}

@code {
    private LoginModel loginModel = new();  
    private EditContext? context; 
    private string? error;

    protected override void OnInitialized()
    {
        context = new EditContext(loginModel);
    }

    private async Task SubmitLogin()
    {
        bool ok = await TokenService.BlazorLogin(loginModel);

        if (!ok)
        {
            error = "Email ou senha inválidos.";
            return;
        }

        Nav.NavigateTo("/");
    }
}
