@page "/logout"
@using Microsoft.AspNetCore.Components.Authorization


@inject IJSRuntime JS
@inject AuthenticationStateProvider AuthProvider
@inject NavigationManager Nav
@inject IStringLocalizer<Logout> L

<PageTitle>@L["Logout"]</PageTitle>

<h3 style="padding-bottom:10px;">
    @L["Logout"]
</h3>

<p>@L["Você será desconectado."]</p>

<button class="btn btn-danger" @onclick="DoLogout">
    @L["Sair"]
</button>

@code {
    private async Task DoLogout()
    {
        await JS.InvokeVoidAsync(
            "localStorage.removeItem",
            "authToken"
        );

        if (AuthProvider is IHostEnvironmentAuthenticationStateProvider envAuth)
        {
            envAuth.SetAuthenticationState(
                Task.FromResult(
                    new AuthenticationState(
                        new System.Security.Claims.ClaimsPrincipal()
                    )
                )
            );
        }

        Nav.NavigateTo("/login", forceLoad: true);
    }
}
