<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Kakeibo</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">
    <nav class="nav flex-column" style="width: 250px;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calendar">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Calendar
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tiposdespesas">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Tipos de Despesas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tiposrendas">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Tipos de Rendas
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="listadespesas">
                <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Despesas Comuns
            </NavLink>
        </div>

        <!-- Custom vertical dropdown -->
        <div class="nav-item px-3">
            <a class="nav-link" href="#" onclick="toggleSubmenu(event)">
                <span class="bi bi-list-nested" aria-hidden="true"></span> Registros
            </a>
            <div class="submenu" style="display: none; flex-direction: column; padding-left: 15px;">
                <NavLink class="nav-link" href="rendas">Entradas</NavLink>
                <NavLink class="nav-link" href="@($"/saidas/{DateTime.Today.Day}/{DateTime.Today.Month}/{DateTime.Today.Year}")">
                    <span class="bi bi-plus-square-fill" aria-hidden="true"></span> Saidas
                </NavLink>
            </div>
        </div>
    </nav>
</div>

<script>
    function toggleSubmenu(event) {
        event.preventDefault();
        const submenu = event.currentTarget.nextElementSibling;
        if (submenu.style.display === "none") {
            submenu.style.display = "flex";
        } else {
            submenu.style.display = "none";
        }
    }
</script>
